.a {
    /*background-image: url("../img/system-engineer-19tr.jpg");*/
    /*background-image: url("../img/thumbnail_IMG_2444.jpg");*/
    background-repeat: no-repeat;
    /*background-size: 900px;*/
    background-position: center;
    background-color: #88f1fe;
}

h1 {
    font-size: 30px;
}

.bg-dark-a {
    background-color: #022754;
}

.btn-primary {
    background-color: #022754;
}