.a {
    background-image: url("../img/system-engineer-19tr.jpg");
    background-repeat: no-repeat;
    /*background-size: 700px;*/
    background-position: center;
}

h1 {
    font-size: 30px;
}

.bg-dark-a {
    background-color: #022754;
}

.btn-primary {
    background-color: #022754;
}